<header>
	<!-- <div class="logo spoon"></div> -->
	<div class="logo cenfotec"></div>
	<div class="page-header">Bienvenido a Internet Pendiente</div>
</header>

<!-- <div id="preguntas"></div> -->

<div class="container">
	<div class="fs-form-wrap" id="fs-form-wrap">
		<form id="myform" class="fs-form fs-form-full" autocomplete="off">
			<ol class="fs-fields" id="preguntas">				
			</ol><!-- /fs-fields -->
		</form><!-- /fs-form -->
	</div><!-- /fs-form-wrap -->
</div><!-- /container -->

<div class="timePlus">
	<img src="{3vot}/assets/timeplus.png" alt="">
</div>


<div class="extras">
	<div class="instruction">
		<span>Por cada pregunta que respondas le <b>das 3 minutos más de servicio wifi</b> a todo el local</span>
	</div>
	<div class="backToGoogle">
		<a href="http://www.google.com">Empezá a Navegar <span class="glyphicon glyphicon-search"></span></a>
	</div>
</div>






